$background: #0D1117;
$textColor: #2c2c2c;
$accentColor: #58A6FF;
$primaryColor: #C9D1D9;
$secondaryColor: #8B949E;
$tertiaryText: #6E7681;
$errorColor: #F85149;
$sucessColor:#238636;
$warningColor: #E3B341;
$headerBg:#161b22;