.dashboard_page{
  width: 100%;
  height: 100vh;

  nav{
    height: 32px;
    padding: 1rem 2rem;
    background-color: $headerBg;
    display: flex;
    justify-content: space-between;

    .logo img{
      width: 32px;
      height: 32px;
      aspect-ratio: 1;
      border-radius: 8px;
    }

  }

  .main_section {
    display: grid;
    grid-template-columns: 20% 1fr;
    gap: 0.5rem;
    height: calc(100vh - 70px) ;
    padding: 1rem 0.5rem;

    .left_section{
      height: 100%;
      background-color: red;
    }
    .right_section{
      height: 100%;
      // background-color: green;
    }

  }

}